{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">¿Que es Ferremas?</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
            La familia de Ferremas, nos establecimos en Chile en la decada de los 80, conocida por algunos como la decada del auge de las ferreterias, pues, con nuestra amplia trayectoria y experiencia buscamos brindarle y a su vez priorizamos dar una buena atencion, que sea veloz como tambien cordial.
            Te invitamos a navegar en nuestra página y más importante que todo, visitar nuestras tiendas físicas y preferirnos. Ferrenas le da una calida invitación para formar parte de esta familia con mas de 40 años de vigencia a nivel nacional.
            Te esperamos.
        </p>
    </div>

    <h2 class="text-center">Misiones</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
            Ser el maximo exponente del área de la ferretería, servir de forma efectiva y en especial estar al nivel de lo que se nos espera.
            Siempre respetando las normas y nuestros valores como empresa. Tambien poniendo enfasis en procesos "ecofriendly" para generar un cambio a nivel de negocio.
        </p>
    </div><br><br>
</div>
<br><br>
{% endblock main-content %}