{% extends 'app/base.html' %}
{% load static %}
{% block title %}Dirección{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Direcciones de <span class="text-capitalize">{{ request.user }}</span></h3>
        <div class="col-md-3">
            {% include 'app/profile_menu.html' %}
        </div>
        <div class="col-md-9">
            <div class="row">
                {% for address in addresses %}
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Dirección {{ forloop.counter }}</h5>
                                <p class="card-text">Nombre: {{ address.name }}</p>
                                <p class="card-text">Localidad: {{ address.locality }}</p>
                                <p class="card-text">Móvil: {{ address.mobile }}</p>
                                <p class="card-text">Ciudad: {{ address.city }}</p>
                                <p class="card-text">Estado: {{ address.region.name }}, Comuna: {{ address.comuna.name }}</p>
                                <p class="card-text">Código Postal: {{ address.zipcode }}</p>
                                <a href="{% url 'update_address' pk=address.id %}" class="btn btn-success">Actualizar</a>
                                <a href="{% url 'delete_address' pk=address.id %}" class="btn btn-danger">Eliminar</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if addresses.count < 3 %}
                <a href="{% url 'add_address' %}" class="btn btn-primary">Añadir nueva dirección</a>
            {% else %}
                <p class="alert alert-info">No puedes añadir más de 3 direcciones.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main-content %}
