{% extends 'app/base.html' %}
{% load static %}
{% block title %}Perfil{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Bienvenido <span class="text-capitalize">{{ request.user }}</span></h3>
        <div class="col-md-3">
            {% include 'app/profile_menu.html' %}
        </div>
        <div class="col-md-9">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="profile_image" class="form-label">Imagen de perfil:</label>
                    {{ form.profile_image }}
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre:</label>
                    {{ form.name }}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico:</label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción:</label>
                    {{ form.description }}
                </div>
                <div class="mb-3">
                    <label for="mobile" class="form-label">Móvil:</label>
                    {{ form.mobile }}
                </div>
                <div class="mb-3">
                    <label for="region" class="form-label">Región:</label>
                    {{ form.region }}
                </div>
                <div class="mb-3">
                    <label for="comuna" class="form-label">Comuna:</label>
                    {{ form.comuna }}
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
