{% extends 'app/base.html' %}
{% load static %}
{% block title %}Pago Exitoso | Ferremax{% endblock title %}

{% block main-content %}
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">¡Pago exitoso!</h4>
            <p>Tu transacción se ha completado correctamente. Gracias por tu compra en Ferremax.</p>
            <hr>
            <p class="mb-0">Puedes revisar tus pedidos en tu perfil.</p>
        </div>
    </div>
{% endblock main-content %}
